body {
    width: auto;
    height: auto;
}

.container {
    width: fit-content;
    margin: auto;
    display: flex;
    margin-top: 15vh;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 25px;
}

input#repo-input {
    width: 500px;
    height: 45px;
    border: 3px solid;
    border-radius: 6px;
    font-size: 25px;
}

#autocomplete-list {
    width: 500px;
    border: 1px solid #ccc;
    max-height: 220px;
    overflow-y: auto;
    position: relative;
    z-index: 1000;
    background: white;
    display: none;
}

.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #f0f0f0;
}

.repo-list {
    list-style: none;
    padding: 0;
}

.repo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    border: 3px solid #e3e3e3;
    border-radius: 6px;
    padding: 5px 5px 0 5px;
    margin: 5px;
}

button.delete-btn {
    position: relative;
    right: -390px;
    top: -65px;
    background: no-repeat url(4115230-cancel-close-cross-delete_114048.svg);
    width: 50px;
    height: 50px;
    border: none;
}